.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
          %a.brand{:href => "#"} R<b>ISE</b>
      .nav-collapse

        %ul.nav
          = navigation_link('Project')
          = navigation_link('Look Inside')


        %form.navbar-form.pull-right
          .input-append.input-prepend
            %span.add-on
              %i Board
            %span.uneditable-input#connected_board 
              Loading...
            %button.btn{:type => 'button', :'data-loading-text' => '...'}
              %i.icon-refresh



