!!!
%html{:lang => "en"}
  = haml :'shared/head'
  %body
    = haml :'shared/navbar'
    .container
      %h1 Bootstrap starter template
      %p
        Use this document as a way to quick start any new project.
        %br/
        All you get is this message and a barebones HTML document.
        
        %pre 
          &= Adept::Device.connected_devices
    / /container
  = haml :'shared/foot'

