!!!
%html{:lang => "en"}
  = haml :'shared/head'
  %body
    = haml :'shared/navbar'
    .container-fluid
      .row-fluid
        .span6
          %h4 Programming
          .well 
            .form-inline.right-align
              .row#program_alerts
              .row
                %a#bitfile{type: 'file', value: most_recent_bit_file, accept:'.bit'}
              .row.spaced
                %button.btn.btn-primary.disabled#program_board{ 'data-loading-text' => '...' }  Program


        .span6
          %h4 Project Settings
          .well This panel hasn't been implemented yet. Check back soon!
        
  = haml :'shared/foot'
  = js :project

